.datepicker {
  &.datepicker-dropdown {
    background-color: #72acc4;
    padding: 0px;
    &:after {
      content: none;
    }
    &:before {
      content: none;
    }
  }
  table {
    min-width: 210px;
    thead {
      color: #fefefe;
      tr {
        th {
          &.dow {
            background-color: #7f7f7f;
              color: #fefefe;
              font-size: 10px;
              text-transform: uppercase;
              font-weight: 100;
              border-radius: 0px;
          }
        }
        &:nth-child(2) {
          th {
            border-bottom: 1px solid #e4e4e4;
            background-color: #72acc4;
            font-size: 14px;
            text-transform: none;
            height: 32px;
            border-radius: 0px;
            color: white;
            font-weight: 200;

            &:hover {
              background-color: #6ba1b7;
            }
          }
        }
      }
    }
    tr {
      td {
        background-color: #f0f0f0;
        font-size: 12px;
        border: 1px solid #e4e4e4;
        border-radius: 0px;
        span {
          &:hover {
            background-color: #d4d4d4;
            border-radius: 0px;
          }
          &.active {
            background-color: inherit;
            background-image: none;
            border-radius: 0px;
            &:hover, &.disabled:hover, &:active, &:hover:active {
              background-color: #44cde0;
              background-color: inherit;
              background-image: none;
            }
            &.disabled {
              &:active, &:hover:active {
                background-color: #44cde0;
              }
            }
            &.active, &:hover.active {
              background-color: #44cde0;
            }
            &.disabled {
              &.active, &:hover.active {
                background-color: #44cde0;
              }
              background-color: #44cde0;
            }
            &:hover.disabled {
              background-color: #44cde0;
            }
            &.disabled {
              &.disabled, &:hover.disabled {
                background-color: #44cde0;
              }
            }
            &[disabled], &:hover[disabled] {
              background-color: #44cde0;
            }
            &.disabled {
              &[disabled], &:hover[disabled] {
                background-color: #44cde0;
              }
            }
          }
        }
        &.today {
          border: 1px solid #e4e4e4;
          &:hover {
            border: 1px solid #e4e4e4;
          }
          &.disabled {
            border: 1px solid #e4e4e4;
            &:hover {
              border: 1px solid #e4e4e4;
            }
          }
        }
        &.old, &.new {
          color: #999999;
          background-color: #e2e2e2;
          border-radius: 0px;
        }
        &.day {
          &.disabled {
            color: #d4d4d4;
            background-color: #f0f0f0;
          }
          &:hover {
            background-color: #d4d4d4;
            border-radius: 0px;
          }
        }
        &.active {
          background-image: none;
          border-color: transparent;
          &:hover {
            background-image: none;
            border-color: transparent;
          }
          &:active, &:hover:active {
            background-color: #44cde0;
          }
          &.disabled {
            background-image: none;
            border-color: transparent;
            &:active, &:hover:active {
              background-color: #44cde0;
            }
            &:hover {
              background-image: none;
              border-color: transparent;
            }
          }
          &.active, &:hover.active {
            background-color: #44cde0;
            color: white;
          }
          &.disabled {
            &.active, &:hover.active {
              background-color: #44cde0;
            }
          }
        }
      }
    }
  }
}
