msights-timeperiod-datepicker {
  input {
    padding-right: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAAv0lEQVR42t3SPQrCQBAF4D1JEHIB23Q5gkUOYCV2Yh0RL5He0sJi0c7GPUdOERTFn2J8wiwMgzKLFoIDX5G3s69Y4uLU9SyDAyzci3nmfJ45Y%2FTFEgj8m3PP52VqYYCVLIYKglDJYt4PVjHBFXJoYQINkNBw3kLO%2B2QWsy0UMI4XhQvnBe9RUvEHfl%2FcF6awV9kG5io7msXqewBeZUsYqqwzi6ETTnBX2Q3OMkt9ip4wgp3K1sYbf%2FUUFP3n7%2FYANrWLGpmJkcIAAAAASUVORK5CYII%3D) !important;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
    border-radius: 0 !important;
    background-color: #f5f5f5 !important;
    &:focus {
      border-color: #44cde0 !important;
    }
  }
}
