.ember-power-select-search-input {
    @extend .form-control;
    border-radius: 0;
    outline: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAA30lEQVR4AZ3TMWoCQRTG8a0kpTewmTYIVi4sWCSk2Gbb3GVzAitLEWMlwdLCe%2BQOMr2CYBFYvvyLWZhm98Eb%2BMEUH%2FyrV%2BSvbb9qXHCHcMMZbyi8%2Bs8LfqAR35i4I1ngD2vMMcUCG3QQdt5InQU%2BBoZNFlp5IhcIa2O8hXDyRO4Q5sa4hBA9ESVTYzyD8PREbhAWxriCcPVEzhA2xngP4eiJvEPo0AwMP6Fk6b2TQxbaosQMFfZQ8kDwRibYQSMeECKCJ9Jb4YSIJ644YomAmId8EVse%2BvVHbCEFXs1t8g9%2BU2rxiXAv2QAAAABJRU5ErkJggg%3D%3D) !important;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    line-height: normal;
    &:focus {
      border-color: #44cde0;
      box-shadow: none;
    }
}
.power-selector-container {
  margin-bottom:0px;
}

.ember-power-select-trigger {
    @extend .form-control;
    padding: 6px 12px;
    border-radius: 0px;
    background-color: #f5f5f5;
    &:focus {
      border-color: #44cde0;
    }
}

.ember-power-select-selected-item {
  margin-left: 0px;
}

.ember-power-select-search {
  padding: 0px;
}

.ember-power-select-option[aria-current="true"] {
  background-color: #d3f5f7;
  color: inherit;
}
